.MainWrapper {
    
    max-width: 1440px;
    padding: 20px 140px;
    background-color: #ffffff;
    margin: auto;

}
.TopWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}