.newSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newSection img {
  border-radius: 5px;
}
.newSection h3,
.newSection p {
  text-align: center;
}
.newSection p {
  margin-top: -13px;
}
